@backMain: #1E2026;
@backSecond: #242730;
@main : #936EE5;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body, html {
  margin: 0;
  background-color: @backMain;
  * {
    font-family: 'Poppins', sans-serif;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: 700
}

.marged {
  padding-left: 15px;
  padding-right: 15px;
}